.App {
  padding: 1em;
}


fieldset {
  border: 1px solid darkgray;
}

fieldset.best {
  border: 1px solid #f39c12;
}

fieldset:last-of-type {
  margin-bottom: 0;
}

fieldset {
  margin-bottom: 0.5em;
}

/* Reset Select */
select,
.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  min-height: 40px;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select,
.input {
  position: relative;
  display: flex;
  width: 10em;
  height: 40px;

  background: #2c3e50;
  overflow: hidden;
  border-radius: 0.25em;
}
select,
.input {
  line-height: 3;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
}

/* Arrow */
.select::after {
  line-height: 2.5;
  content: "\25BC";
  position: absolute;
  height: 40px;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

.button {
  height: 40px;
  min-width: 40px;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

.Label-field {
  width: 100%;
}

@media only screen and (max-width: 554px) {
  .best-container > strong {
    text-align: center;
  }
  .best-info {
    margin-top: 0;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-left: 1em;
    text-align: center;
  }
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
  }
  .form-fields {
    align-items: center;
    flex-direction: column;
  }
  .Label-field > label {
    margin-bottom: 0.2em;
  }

  .Label-field {
    width: 100%;
    margin: 0.5em;
  }
}

@media only screen and (min-width: 555px) {
  .best-container > p {
    margin: 0;
  }
  .button-container {
    margin-top: 0;
  }
  .button-container.append {
    margin-top: 1.1em;
  }

  .Label-field {
    margin: 0 0.5em;
  }

  .form-fields {
    align-items: flex-end;
  }
}

.unit-select {
  min-width: 100px;
}
.form-fields {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.best-container {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
  font-size: 9pt;
}

.best-container > p {
  color: #ced6e0;
}

.best-container > strong {
  color: #f39c12;
  font-size: 10pt;
}

.Label-field {
  display: flex;
}
.App-header {
  background-color: #010409;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
